@import 'styles/Variables';

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1160px;
}
.active {
  font-weight: 700;
  color: var(--color-secondary);
}
